.content-wrapper {
    border: 1px solid red;
    padding-top: 100px;
}

.job {
    margin: 20px 0px 20px 0px;
    border: 1px solid blue;
}

.claim {
    float: right;
    right: 10px;
    padding-top: 10px;
}

#describe {
    float:left;
    font-weight: 500;
    font-size: 30px;
    margin:20px 10px 0px 10px;

}